@font-face {
    font-family: 'HeliosCond';
    src: url('HeliosCond-Bold.eot');
    src: local('HeliosCond Bold'), local('HeliosCond-Bold'),
        url('HeliosCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('HeliosCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HeliosCond';
    src: url('HeliosCond.eot');
    src: local('HeliosCond Regular'), local('HeliosCond'),
        url('HeliosCond.eot?#iefix') format('embedded-opentype'),
        url('HeliosCond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

